body{
  margin: 0;
  padding: 0;
  background:#000;
  position: relative; 

}

.wrapper{
  position: relative;
  margin: 200px auto;
  width: 300px;
  height: 300px;
  perspective: 500px;
 
}

.cube{
  width:inherit;
  height:inherit;
  transform-style: preserve-3d; 
}

.side{
  position: absolute;
  width:inherit;
  height:inherit;
  text-align: center;
  box-sizing: border-box;
}

.front{
  transform: translateZ(150px);
}

.back {
  transform: rotateY(180deg) translateZ(150px);
}

.right {
  transform: rotateY(90deg) translateZ(150px);
}

.left {
   transform: rotateY(-90deg) translateZ(150px);
}

.top {
  transform: rotateX(90deg) translateZ(150px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(150px);
}

.gameInfo{
  color:yellow;
  padding: 10px;
  font-family: sans-serif;
  font-size:20px;
  position: fixed;  
  top:0;
  left: 0;
}

.cells{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
} 

.cell{
  width: 100px;
  height: 100px;  
  border: 1px solid #fff;
  box-sizing: border-box;
  color:#fff;
  font-size: 40px; 
  text-align: center;
  line-height: 100px;
  font-family:sans-serif;

}

.btn{
  background: none;
  border: 1px solid yellow;
  color:yellow;
  padding: 8px;
  cursor: pointer;
}

.c1 .cell{
  background-color: #2ecc71;
}
.c2 .cell{
  background-color: #c0392b;
}

.c3 .cell {
  background-color: #3498db;
}

.c4 .cell {
  background-color: #8e44ad;
}

.c5 .cell {
  background-color: #2c3e50;
}

.c6 .cell {
  background-color: #B33771;
}